#root {
  text-align: center;
}
body {
  background-color: black;
}

header {
  padding: 30px 0 30px 0;
  background: #187064;
  color: aliceblue;
  text-align: center;
}
header h1 {
  display: inline;
  margin-left: 15px;
  font-weight: 300;
}
